<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thrivecom.ringcaptcha"
    android:versionCode="106"
    android:versionName="1.0.6" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.thrivecom.ringcaptcha.sample.MainActivity"
            android:label="Ringcaptcha sample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="ringcaptcha"
                    android:scheme="sampleapp" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.thrivecom.ringcaptcha.SetNumberActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize"
            android:screenOrientation="sensor"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateVisible|adjustPan|adjustResize" >
        </activity>
        <activity
            android:name="com.thrivecom.ringcaptcha.HelpActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="sensor"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name="com.thrivecom.ringcaptcha.VerifyActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="sensor"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name="com.thrivecom.ringcaptcha.CountryListActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="sensor"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name="com.thrivecom.ringcaptcha.OnboardActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="sensor"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name="com.thrivecom.ringcaptcha.CodeActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="sensor"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateVisible|adjustPan|adjustResize" >
        </activity>

        <receiver
            android:name="com.thrivecom.ringcaptcha.RingcaptchaAPIController"
            android:enabled="true"
            android:exported="true" >
            <intent-filter android:priority="999" >
                <action
                    android:name="android.provider.Telephony.SMS_RECEIVED"
                    android:scheme="sms" />
            </intent-filter>
        </receiver>
    </application>

</manifest>